*
!sandbox
!pkgs/py/nanobot
!pkgs/py/humanize-browser

pkgs/py/nanobot/.git
pkgs/py/nanobot/.venv
pkgs/py/nanobot/node_modules
pkgs/py/nanobot/**/__pycache__
pkgs/py/nanobot/**/*.pyc
pkgs/py/nanobot/webui
pkgs/py/nanobot/case
pkgs/py/nanobot/docs
pkgs/py/nanobot/tests
pkgs/py/nanobot/*.png

pkgs/py/humanize-browser/.git
pkgs/py/humanize-browser/.venv
pkgs/py/humanize-browser/**/__pycache__
pkgs/py/humanize-browser/**/*.pyc
pkgs/py/humanize-browser/tests
pkgs/py/humanize-browser/docs
