---
---

<section class="gallery">
  <div class="gallery-item">
    <img
      src="https://images.unsplash.com/photo-1583212292454-1fe6229603b7?w=1600"
      alt="sperm whale"
      style="filter: grayscale(100%) contrast(1.1); width: 100%; display: block;"
    />
  </div>
  <div class="gallery-item">
    <img
      src="https://images.unsplash.com/photo-1568430462989-44163eb1752f?w=1200"
      alt="sperm whale"
      style="filter: grayscale(100%) contrast(1.1); width: 100%; display: block;"
    />
  </div>
</section>

<style>
  .gallery {
    width: 100%;
  }

  .gallery-item {
    padding: 10vh 0;
    width: 100%;
  }

  .gallery-item img {
    width: 100%;
    display: block;
  }
</style>
