# Drizzle
DATABASE_URL="postgresql://postgres:postgres@localhost:5434/officeclaw"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

API_URL="http://localhost:8000"
